<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Información de Etiquetas</title>
</head>
<body>
    <h1>Etiquetas</h1>

    <table>
        <thead>
            <tr>
                <th>UserId</th>
                <th>MovieId</th>
                <th>Etiqueta</th>
                <th>Timestamp</th>
            </tr>
        </thead>
        <tbody>
            {% for index, row in tags.iterrows() %}
                <tr>
                    <td>{{ row['userId'] }}</td>
                    <td>{{ row['movieId'] }}</td>
                    <td>{{ row['tag'] }}</td>
                    <td>{{ row['timestamp'] }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
